<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<br>
<%= link_to 'My Messages', controller: 'messages' %>
<br>
<%= link_to 'To Do', controller: 'todos' %>
<br> 
<%= link_to 'ideas', controller: 'ideas' %>